.div1{
    height: 3500px;
    width: 1200px;
    display: flex;
    padding: 70px;
}
.div2{
    height: 3500px;
    width: 350px;
    background-color: lightblue;
    display: inline;
}
.div3{
    height: 100%;
    width: 1000px;
    background-color: lightblue;
}
.div4{
    height: 350px ;
    width:100px ;
}
.div5{
    height:100px;
    width: 100%;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}
.div6{
    height: 400px;
    width: 100%;
}
.div10{
    height: 300px;
    width: 100%;
}
.div7{
    height: 200px;
    width: 100%;
    
}
.div8{
    font-size: x-large;
    font-style: italic;
    text-align: center;
}
.div9{
    height: 50px;
    width: 100%;
}
.topic{
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    padding-left: 20px;
}
.con{
    font-size: large;
    font-style: italic;
    padding: 15px;
}
.subtop{
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    padding-left: 30px;
}
